<div class="py-4 mb-2">
  <h3 class="d-inline-block">Videocall Details</h3>

  <div class="float-right">
    <%= linkTo(videocallsPath(), {class: "btn btn-info"}) { %>
      Back to all Videocalls
    <% } %>
    <%= linkTo(editVideocallPath({ videocall_id: videocall.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(videocallPath({ videocall_id: videocall.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
