<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Boiler</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Template</a>
        </div>
        <ul class="nav navbar-nav">
        <%= if (current_user) { %>
          <li><p><%= current_user.Email %></p></li>
          <li><%= linkTo(authSignoutPath(), {data-method: "DELETE", class:"btn btn-warning"}){ %>Sign Out<% } %></li>
        <% } else { %>
          <li><%= linkTo(authSigninPath(), {class:"btn btn-primary"}){ %>Sign In<% } %></li>
          <li><%= linkTo(authRegisterPath(), {class:"btn btn-success"}){ %>Register<% } %></li>
        <% } %>
      </ul>
      </div>
    </nav>

    <div class="container">
      <%= partial("flash.html") %>
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
